

#banner {

	width: 100%;

}

.principal {
	background: #cccccc;
	padding: 30px;

}

.tituloprincipal {

	padding-left: 20px;
	font-size: 35px;
	font-weight: bold;

}
/*nav {

	position: absolute;
	top: 110px;
	right: 0px;

}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold; //texto em negrito
	font-size: 22px;
	text-decoration: none;
}
nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}*/

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.titulocentralizado {

	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

p {

	text-align: center;
}

#missao {

	font-size: 20px;
}

/* colocando dois termos do css podemos fazer com que ele atue em um
local mais especifico do nosso programa */
em strong {
	color: #FF0000;
}

.itens {

	font-style: italic;
	margin: 2% 0;
}

.beneficios {
	background: white;
	padding: 20px;

}


ul{

	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imgbeneficios {

	width: 50%;
}
footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}
.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
}